 
#inscription {margin-bottom: 10px;
              font-size: medium;
            text-align: center;}

#titre1 {text-align: center;
margin-bottom: 15px;
font-size: medium;
font-family : serif;
margin-top: 15px}

